.isEmpty {
  border: 1px solid red;
}

:host ::ng-deep .isDisabled:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: white;
}

:host ::ng-deep .isDisabled:disabled:hover {
  filter: none !important;
  box-shadow: none !important;
}
