<section id="clientes" class="bg-verdeClaro">
    <div class="px-[15px] lg:mx-[60px]">
        <div>
            <h5 class="text-center font-bold text-2xl py-[60px]">
                <span class="text-verdeCheck">Desde 2009 </span> trabajando para los
                gastronómicos
            </h5>
        </div>
        <div class="overflow-hidden">
            <div
                class="flex contentSlider items-center justify-center gap-12 mt-[80px] pb-[70px] border-b border-borderColor">
                <div *ngFor="let cliente of arrayClients" class="contentImg">
                    <a [href]="cliente.href" target="_blank">
                        <img [src]="cliente.img" [alt]="cliente.alt"
                            class="min-w-[150px] grayscale hover:grayscale-0 duration-300" />
                    </a>
                </div>
                <div *ngFor="let cliente of arrayClients" class="contentImg">
                    <img [src]="cliente.img" alt="logo cliente"
                        class="min-w-[150px] grayscale hover:grayscale-0 duration-300" />
                </div>
            </div>
        </div>
    </div>
</section>