<footer class="style-4" id="footer">
    <div class="container pt-[60px] mx-auto">
        <div class="section-head text-center style-4">
            <app-titles [subTitle]="subTitle" [title]="title" [description]="description"></app-titles>
        </div>
        <div>
            <div
                class="flex flex-col pl-[25px] lg:pl-[0px] lg:flex-row items-start justify-center gap-8 lg:gap-12 mx-auto">
                <app-icon-text *ngFor="let element of arrayForm" [element]="element"></app-icon-text>
            </div>
        </div>
        <div class="foot">
            <div class="flex flex-col md:flex-row align-items-center justify-center gap-2 md:gap-8">
                <div class="flex items-center justify-center">
                    <div class="w-[160px]">
                        <img [src]="imgLogo" alt="" />
                    </div>
                </div>
                <div class="flex align-items-center justify-center">
                    <ul class=" links">
                        <li>
                            <a href="#features" class="active">
                                Caracteristicas
                            </a>
                        </li>
                        <li>
                            <a href="#integraciones">Integraciones</a>
                        </li>
                        <li>
                            <a href="#precios">Precios</a>
                        </li>
                        <li>
                            <a href="#faq">Faq</a>
                        </li>
                        <li>
                            <a href="#footer">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copywrite text-center">
            <small class="small">
                © - {{year}}
                <a href="#" class="fw-bold text-decoration-underline">
                    Núcleo IT
                </a>
                . Todos los derechos reservados. 2009 - {{year}}
            </small>
        </div>
    </div>
    <img [src]="imgHero3" alt="" class="wave mt-[60px]" />
</footer>