<div [ngClass]="{'nav-scroll': scrollPosition > 200}"
    class="relative z-[999] py-[20px] px-[15px] bg-bgNav xl:bg-white rounded-t-[20px] mt-[-38px] flex flex-wrap items-center justify-between md:justify-center md:gap-12">
    <!-- imagen logo -->
    <img [src]="imgLogo" alt="logo nucleo check" class="w-[150px] h-[50px] cursor-pointer" (click)="scrollToTop()">

    <!-- icono menu hamburguesa -->
    <div (click)="toggleMenu()" class="lg:hidden border-[1px] border-gray-500 rounded">
        <i class="fa-solid fa-bars px-4 py-2 text-gray-500"></i>
    </div>

    <!-- menu -->
    <ul class="flex flex-row gap-4 xl:gap-12 xl:items-center justify-center font-bold text-[12px] navbarMobile"
        [ngClass]="{'activo': isOpen}">
        <li *ngFor="let element of arrayElements" class="relative">
            <a [href]="element.href" class="duration-300 elements" (click)="toggleMenu()">{{
                element.text.toUpperCase()}}</a>
        </li>
        <app-button-gral [textButton]="textButton"></app-button-gral>
    </ul>
</div>