<section id="about" class="relative">
    <div id="about" class="py-[60px] grid place-items-center relative ">
        <div class=" max-w-[1170px] px-[15px] relative z-[5]">
            <div class=" flex flex-wrap items-center justify-center xl:gap-24 gap-8">
                <div class="xl:w-[45%] w-full">
                    <div>
                        <app-titles>
                            <h2 title>{{title}}</h2>
                            <span subTitle>{{subTitle}}</span>
                            <h3 description>{{description}}</h3>
                        </app-titles>
                        <div class="flex flex-col items-start justify-center gap-4 mb-[25px]"> <span
                                *ngFor="let element of arrayElements" class="flex items-center justify-start gap-4">
                                <app-icon-text [element]="element.text" [icon]="element.icon"></app-icon-text>
                            </span></div>
                    </div>
                </div>
                <div class="xl:w-[45%] w-full">
                    <div>
                        <img [src]="imgAbout" alt="2mobiles" />
                    </div>
                </div>
            </div>
        </div>
        <img [src]="aboutBubles" alt="lineas" class="img-bubles lg:right-30" />
    </div>
</section>