<section data-scroll-index="0" class="relative py-[60px] overflow-hidden ">
    <div class="flex items-center justify-center lg:mb-[50px]">
        <div class="px-[15px] max-w-[1170px] z-10 ">
            <div class="flex flex-wrap items-start justify-center">
                <section id="hero" class="lg:w-[50%] w-full">
                    <div>
                        <app-titles [subTitle]="subTitle" [title]="title" [description]="description"></app-titles>
                        <div class="flex items-center justify-start gap-4">
                            <a [href]="linkCalendly" className="btn buton rounded-pill bg-blue4 fw-bold text-white me-4"
                                target="_blank" rel="noreferrer">
                                <app-button-gral textButton="Agenda una demo"></app-button-gral>
                            </a>
                            <!-- <a href="https://youtu.be/pGbIOC83-So?t=21" data-lity
                                class="flex items-center justify-center gap-1">
                                <span
                                    class="rounded-full border border-black grid place-items-center w-[40px] h-[40px]">
                                    <i class="fas fa-play text-verdeCheck"></i>
                                </span>
                                <strong class="text-[10px] hover:text-verdeCheck duration-300">
                                    Ver video <br /> presentación
                                </strong>
                            </a> -->
                        </div>
                        <div class="flex items-center justify-start gap-4 mt-[25px] md:mb-[25px]">
                            <span *ngFor="let element of arrayElements" class="flex items-center justify-center gap-2">
                                <app-icon-text [element]="element"></app-icon-text>
                            </span>
                        </div>
                    </div>
                </section>
                <div class="divImg">
                    <div>
                        <img [src]="imgHero" alt="imagen principal" class="m-w-full rounded" />
                    </div>
                </div>
            </div>
        </div>
        <img [src]="imgHero2" alt="burbujas" class="bubble" />
    </div>
    <img [src]="imgHero3" alt="fondo movil" class="wave">
</section>