<section id="integraciones" class="text-center pt-[100px] z-[5] relative">
    <app-titles subTitle="Todos los pedidos en un solo lugar" title="Integrados con las Apps mas usadas"
        description="Pantalla integradora para recibir todos los pedidos en un solo lugar"></app-titles>
    <div class="max-w-[1170px] px-[15px] relative z-[5] mx-auto">
        <div class="flex justify-between  items-center py-[60px]">

            <div *ngFor="let app of arrayApps, let index = index" class="container-img-apps"
                [style.animation-delay]="index * 0.5 + 's'">
                <img [src]="app.src" alt="logo app" class="img-apps" />
            </div>

        </div>
    </div>
    <img [src]="backInteg" alt="" class="intg-back" />
</section>