<section id="features" class="bg-verdeClaro pt-[70px] pb-[120px] text-center relative overflow-hidden z-[10]">
    <div class="z-[555] relative">
        <app-titles subTitle="Núcleo check" title="Increíbles Caracteristicas" description="Si tienes un negocio gastronómico tienes que conocer Núcleo Check.
        Agiliza las tareas administrativas, pagos a proveedores, facturación de clientes y mucho más.
        "></app-titles>
        <div
            class="flex md:flex-row flex-col items-center justify-center flex-wrap gap-12 xl:gap-24 lg:mt-[100px] mt-[70px] cursor-default">

            <div class="flex flex-col items-center justify-center gap-4" *ngFor="let feature of arrayFeatures">
                <!-- <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <i [ngClass]="feature.icon" class="title"></i>
                            <p class="w-[80%] h-[50px]">{{feature.text}}</p>
                        </div>
                        <div class="flip-card-back">
                            <p>{{feature.text2}}</p>
                        </div>
                    </div>
                </div> -->
                <div class="divIcon text-white">
                    <i [ngClass]="feature.icon" class="title"></i>
                </div>
                <div>
                    <p class="w-[120px] h-[50px] font-bold text-slate-600">{{feature.text}}</p>
                </div>
            </div>

        </div>
    </div>
    <img class="img-circle" [src]="imgCircle" alt="" />
</section>