<section id="demos" class="text-center py-[100px] z-[5] relative">

    <app-titles>
        <h3 title>{{title}}</h3>
        <span subTitle>{{subTitle}}</span>
        <h4 description>{{description}}</h4>
    </app-titles>
    <div class="max-w-[1170px] px-[15px] relative z-[5] mx-auto">
        <a [href]="linkCalendly" className="btn buton rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank"
            rel="noreferrer">
            <app-button-gral textButton="Agendá una demo"></app-button-gral>
        </a>
    </div>

</section>