.titleGradient {
  font-size: 35px;
  line-height: 1.3;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(black),
    color-stop(60%, #69932b),
    color-stop(60%, #69932b),
    color-stop(80%, #7ea940),
    to(#7ea940)
  );
  background-image: -webkit-linear-gradient(
    left,
    black 0%,
    #69932b 60%,
    #69932b 60%,
    #7ea940 80%,
    #54e14e 100%
  );
  background-image: -o-linear-gradient(
    left,
    black 0%,
    #69932b 60%,
    #69932b 60%,
    #7ea940 80%,
    #54e14e 100%
  );
  background-image: linear-gradient(
    to right,
    black 0%,
    #69932b 60%,
    #69932b 60%,
    #7ea940 80%,
    #54e14e 100%
  );
}
