<div class="text-center navbarTop" [style.background-image]="'url(' + imgBg + ')'">
    <div class="px-4">
        <div class="flex items-center justify-center gap-2 px-4">
            <span class="bg-white py-1 px-2 rounded-[10px] flex items-center justify-center text-[12px] font-bold">
                <small>OFERTA</small>
            </span>
            <img [src]=" imgNavBarToo" alt="" class="w-[15px] h-[15px]" />
            <div><span class=" text-[10px] text-slate-300">Obeten un </span>
                <small class=" text-[10px] text-white">20% OFF por siempre </small>
                <span class=" text-[10px] text-slate-300">para nuevas cuentas</span>
                <a [href]="getContactPageLink()" class=" text-[10px] text-white">
                    Registrate ahora
                </a>
            </div>
        </div>
    </div>
</div>