<section id="faq" class="py-[60px]">
    <div class="max-w-[1170px] px-[15px] text-center mx-auto flex flex-col">
        <app-titles subTitle="Preguntas Frecuentes" title="Sacate todas las dudas que tengas"></app-titles>
        <div class="flex flex-col lg:flex-row">
            <div
                class="relative w-[90%]flex flex-col items-center jusify-center gap-[5px] mx-auto text-left acordeon cursor-pointer gap-12">
                <div class="contentAc" *ngFor="let faq of arrayFaqs" (click)="toggleFaq(faq.id)">

                    <div class="flex items-center justify-between h-[70px] text-slate-700 lg:px-[25px] border-b-2 border-slate-200 duration-300"
                        [ngClass]="{'bg-[#f4f2fb]' : indexSelect === faq.id, 'rotateIcon' : indexSelect === faq.id}">
                        <div class="labelAc font-bold">{{faq.question}}</div>
                        <i class="fa-solid fa-chevron-down text-[10px] duration-300 text-slate-400"></i>
                    </div>

                    <div class="contentAcordeon text-slate-600" [ngClass]="{'active': indexSelect === faq.id}">
                        {{faq.answer}}</div>
                </div>
            </div>
            <div
                class="relative w-[90%]flex flex-col items-center jusify-center gap-[5px] mx-auto text-left acordeon cursor-pointer gap-12">
                <div class="contentAc" *ngFor="let faq of arrayFaqs2" (click)="toggleFaq(faq.id)">

                    <div class="flex items-center justify-between h-[70px] text-slate-700 lg:px-[25px] border-b-2 border-slate-200 duration-300"
                        [ngClass]="{'bg-[#f4f2fb]' : indexSelect === faq.id, 'rotateIcon' : indexSelect === faq.id}">
                        <div class="labelAc font-bold">{{faq.question}}</div>
                        <i class="fa-solid fa-chevron-down text-[10px] duration-300 text-slate-400"></i>
                    </div>

                    <div class="contentAcordeon text-slate-600" [ngClass]="{'active': indexSelect === faq.id}">
                        {{faq.answer}}</div>
                </div>
            </div>
        </div>
    </div>
</section>