<section class="screenshots style-4" data-scroll-index="4" id="pantallas">
    <div class="screenshots-slider style-4">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div key={screenshot.id} class="swiper-slide">
                    <div class="img flex gap-8">
                        <img *ngFor="let screenshot of arrayScreenshots" [src]="screenshot.src" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <img [src]="imgHand" alt="" class="mob-hand" />
</section>