<section id="precios" class="bg-verdeClaro py-[70px] text-center">
    <div>
        <app-titles [subTitle]="subTitle" [title]="title"></app-titles>
        <div>
            <!-- Botones para seleccionar opciones de precios -->
            <div class="flex items-center justify-center gap-2 my-[40px]">
                <div [ngClass]="{'bg-verdeCheck text-white border-white' : checkedInput === option.descuento}"
                    class="text-slate-500 cursor-pointer rounded relative bg-white drop-shadow-xl p-4 w-[150px] border-2 border-slate-400 hover:bg-nucleo hover:text-white hover:border-white duration-300"
                    *ngFor="let option of arrayTypePrices" (click)="changeCheckbox(option.descuento)">
                    {{option.title}}
                    <div *ngIf="option.descuento !== 0"
                        class="absolute border-2 border-nucleo top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white text-nucleo rounded px-2">
                        <span>-{{option.descuento}}%</span>
                    </div>
                </div>
            </div>

            <!-- planes -->
            <div class="w-[90%] flex items-center justify-center flex-col lg:flex-row mx-auto gap-4
                p-4 rounded-xl">
                <div *ngFor="let plan of arrayPrices; let index = index"
                    class="flex flex-col items-start shadowCustom justify-start p-4 w-full md:w-[350px] md:h-[400px] rounded-xl text-slate-500 relative"
                    [ngClass]="{'text-white ': plan.elegido}"
                    [ngStyle]="{'background-color': plan.elegido ? '#90C447' : '#fafafa'}">
                    <div *ngIf="plan.elegido"
                        class="absolute elMasElegido top-[-5px] right-[-5px] w-[105px] h-[105px] px-4 py-2 text-verdeCheck z-[1] overflow-hidden">
                        <div class="rotate-45 shadowCustom bg-white w-[142px] absolute left-[-2px] top-[10px]">
                            <div class="text-[15px] text-center">El mas</div>
                            <div class="text-[15px] text-center">elegido</div>
                        </div>
                    </div>
                    <div class="flex items-center justify-center gap-2 mb-[20px]">
                        <span class="font-bold text-4xl">${{calculatePlan(plan.price)}}</span>
                        <span>/mes</span>
                    </div>
                    <span *ngIf="checkedInput !== 0">${{calculatePrice(plan.price)}}</span>
                    <h4 class="font-bold text-[30px] mb-[40px]">{{plan.title}}</h4>

                    <div class="flex flex-col items-start justify-center gap-2 leading-3">
                        <div *ngFor="let element of plan.ul">
                            <app-icon-text [element]="element"
                                [ngClass]="{'text-white': plan.elegido && element.includes, 'text-gray-300' : !element.includes, 'font-bold': element.includes}"
                                class="text-left"></app-icon-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>